/* .css-j400xw-MuiPaper-root-MuiDrawer-paper {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;
  box-shadow: var(--Paper-shadow) !important;
  background-image: var(--Paper-overlay) !important;
  overflow-y: auto !important;
  display: flex !important;
  flex-direction: column !important;
  max-height: 80vh !important; 
  width: 80% !important; 
  max-width: 900px !important; 
  flex: 0 1 auto !important; 
  z-index: 1200 !important;
  -webkit-overflow-scrolling: touch !important;
  position: fixed !important;
  top: 50% !important; 
  left: 50% !important; 
  transform: translate(-50%, -50%) !important; 
  outline: none !important;
  border-radius: 8px !important; 
  padding: 20px !important; 
}

.css-jrrpff.Layout-root{
    margin: 0 !important;   
}

.css-vr9er9-MuiModal-root-MuiDrawer-root .Overlay-absolutePosition{
    position: fixed;
} */

.css-vr9er9-MuiModal-root-MuiDrawer-root .Overlay-halfSize, .css-1tazxmh.Layout-root{
    width: 655px !important;
}